
.contact-container{
    margin: 50px auto;
    max-width: 600px;
    text-align: center;
    border-radius: var(--border-radius);
    box-shadow: 0 0 10px 10px lightgrey;
    padding: 30px;
    background-color: #f9f9f9;
}

.form__heading{
    color: darkblue;
    font-size: 4rem;
    margin: 3rem;
    padding: 20px 30px 10px;
}
.form__content{
    margin: 10px 30px;
    display: block;
}

.input__group{
    margin-bottom: 20px;
}
.form__content .input__label{
    text-align: left;
    color: var(--color-headings);
    display: block;
    margin-bottom: 5px;
    font-size: 1.7rem;
}

.input{
    height: 5rem;
}

.input, .messageBox{
    width: 100%;
    font-size: 1.7rem;
    padding: 2rem;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    outline: 0;
    border: 1px solid var(--color-border);
}

::placeholder{
    font-size: 1.7rem;
}

.messageBox{
    height: 200px;
    resize: none;
}