<footer class="block block--dark footer">
    <div class="container grid footer__sections">
        <section class="collapsible collapsible--expanded footer__section">
            <header class="collapsible__header">
                <h2 class="collapsible__heading block__heading footer__header">Products</h2>
                <img class="icon icon--white collapsible__chevron" src="/Images/chevron.svg" alt="">
            </header>
            <div class="collapsible__content">
                <ul class="list">
                    <a href="#"><li>Website Hosting</li></a>
                    <a href="#"><li>Free Automated Wordpress</li></a>
                    <a href="#"><li>Migrations</li></a>
                </ul>
            </div>
        </section>

        <section class="collapsible footer__section">
            <header class="collapsible__header">
                <h2 class="collapsible__heading block__heading footer__header">Company</h2>
                <img class="icon icon--white collapsible__chevron" src="/Images/chevron.svg" alt="">
            </header>
            <div class="collapsible__content">
                <ul class="list">
                    <a href="#"><li>About</li></a>
                    <a href="#"><li>Affiliates</li></a>
                    <a href="#"><li>Blog</li></a>
                    
                </ul>
            </div>
        </section>

        <section class="collapsible footer__section">
            <header class="collapsible__header">
                <h2 class="collapsible__heading block__heading footer__header">Support</h2>
                <img class="icon icon--white collapsible__chevron" src="/Images/chevron.svg" alt="">
            </header>
            <div class="collapsible__content">
                <ul class="list">
                    <a href="#"><li>Contact</li></a>
                    <a href="#"><li>Support Knowlege</li></a>
                    <a href="#"><li>FAQ</li></a>
                </ul>
            </div>
        </section>

        <section class="collapsible footer__section">
            <header class="collapsible__header">
                <h2 class="collapsible__heading block__heading footer__header">Domains</h2>
                <img class="icon icon--white collapsible__chevron" src="/Images/chevron.svg" alt="">
            </header>
            <div class="collapsible__content">
                <ul class="list">
                    <a href="#"><li>Domian Checker</li></a>
                    <a href="#"><li>Domian Transfer</li></a>
                    <a href="#"><li>Free Domain</li></a>
                </ul>
            </div>
        </section>

        <section class="footer__brand">
            <img src="/Images/logo.svg" alt="">
            <p class="footer__copyright">Copyright 2025 Nenye Okanumee</p>
        </section>

    </div>
</footer>
<script src="/js/main.js"></script>